[Desktop Entry]
Name=Notmuch (emacs interface)
GenericName=Email Client
Comment=Emacs based email client
Exec=notmuch-emacs-mua --hello %u
MimeType=x-scheme-handler/mailto;
Icon=emblem-mail
Terminal=false
Hidden=1
Type=Application
Categories=Network;Email;
X-Desktop-File-Install-Version=0.24
