[Desktop Entry]
Name=Adobe Photoshop
Exec=env WINEPREFIX=/home/greg/.local/share/wine64 wine /home/greg/.local/share/wine64/drive_c/PhotoshopPortable/PhotoshopCS6Portable.exe
Terminal=false
Type=Application
Icon=photoshop
Categories=Graphics;
