[Desktop Entry]
Name=Riot
Exec=brave-nightly --new-window --app=https://riot.im/app
Terminal=false
Type=Application
Icon=riot
Comment=Riot
Categories=Network;
