Xcursor.theme: Win8
Xcursor.size: 16

!XTerm.vt100.scrollBar: true
!XTerm.vt100.scrollbar.width: 8

XTerm.vt100.translations: #override \n\
	<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
	Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD)

XTerm.VT100.faceName: Source Code Pro for Powerline:Semibold
XTerm.VT100.faceSize: 14
!XTerm.vt100.font: 7x14

XTerm.vt100.foreground: #f3f3f3
!XTerm.vt100.background: #282C34
!XTerm.vt100.color0: #222D32
!XTerm.vt100.color8: #95a5a6
!XTerm.vt100.color1: #e74c3c
!XTerm.vt100.color9: #e74c3c
!XTerm.vt100.color2: #2ecc71
!XTerm.vt100.color10: #2ecc71
!XTerm.vt100.color3: #f1c40f
!XTerm.vt100.color11: #f1c40f
!XTerm.vt100.color4: #3498db
!XTerm.vt100.color12 #3498db
!XTerm.vt100.color5: #9b59b6
!XTerm.vt100.color13: #9b59b6
!XTerm.vt100.color6: #1abc9c
!XTerm.vt100.color14: #1abc9c
!XTerm.vt100.color7: #e0e0e0
!XTerm.vt100.color15: #ecf0f1
Xterm*borderWidth:0
XTerm.vt100.internalBorder: 0
XTerm*trimSelection: true


! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)

#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #94BFF3
#define base0E #c678dd
#define base0F #be5046

*background:   #000000
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
