configuration {
        bw: 0;
        font: "IBM Plex Mono 16";
        lines: 5;
        matching: "fuzzy";
        padding: 0;
        show-icons: true;
        sort: true;
        width: 600;
        tokenize: false;
        sorting-method: "fzf";
        drun-display-format: "<span weight='light'>{name}</span>";
}

#prompt {
        enabled: false;
}
#textbox-prompt-colon {
        enabled: false;
}
