configuration {
        bw: 0;
        font: "Source Code Pro Light 16";
        lines: 5;
        matching: "fuzzy";
        padding: 0;
        show-icons: true;
        sort: true;
        width: 500;
        tokenize: false;
        sorting-method: "fzf";
        drun-display-format: "{name}";
}

#textbox-prompt-colon {
        enabled: false;
}
