[Unit]
Description=Bluetooth Speakers
After=default.target

[Service]
ExecStart=bluetoothctl connect C0:EE:FB:00:8F:5D
Restart=always

[Install]
WantedBy=default.target
