[Unit]
Description=Dark Mode
After=xorg.service
After=window-manager.service
After=network-online.target
Wants=network-online.target

[Service]
Environment=RUST_LOG=debug:night_mode
Type=simple
ExecCondition=i3-msg
ExecStart=%h/workspace/linux-utils/night-mode/target/release/night-mode
Restart=always
RestartSec=2

[Install]
WantedBy=wm.target
