[Unit]
Description=Dark Mode

[Service]
Environment=RUST_LOG=debug:night_mode
ExecStart=%h/workspace/linux-utils/night-mode/target/release/night-mode
ExecStop=bash -c 'rm /tmp/kitty* || true'
Restart=always
RestartSec=2

[Install]
WantedBy=wm.target
