[Unit]
Description=Gnome Keyring Daemon

[Service]
ExecStart=gnome-keyring-daemon --start --components=pkcs11,secrets,ssh
Restart=always

[Install]
WantedBy=default.target
