[Unit]
Description=Gnome Keyring Daemon

[Service]
ExecStart=gnome-keyring-daemon --start --components=secrets,ssh
Restart=on-abort

[Install]
WantedBy=default.target
