[Unit]
Description=i3 auto layout
After=graphical-session.target

[Service]
ExecStart=/home/greg/Workspace/linux-utils/i3-auto-layout/target/release/i3-auto-layout
Restart=always

[Install]
WantedBy=graphical-session.target
