[Unit]
Description=i3 auto layout
After=window-manager.service
Requires=window-manager.service

[Service]
ExecStart=/home/greg/Workspace/linux-utils/i3-auto-layout/target/release/i3-auto-layout
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
