[Unit]
Description=Set keyboard locales & tweaks
After=xorg.service
Wants=xorg.service

[Service]
ExecStartPre=numlockx on
ExecStartPre=xset -b
ExecStartPre=xset r rate 250 85
ExecStartPre=xset s off -dpms
ExecStart=setxkbmap -option grp:win_space_toggle us,ru,am ,phonetic_winkeys,phonetic &

[Install]
WantedBy=wm.target
