[Unit]
Description=Email monitor: %i
After=systemd-networkd-wait-online.service

[Service]
ExecStart=%h/workspace/mailwatch-js/mailwatch.ts "%i"
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
