[Unit]
Description=Email monitor: %i
After=systemd-networkd-wait-online.service

[Service]
ExecStart=fish %h/.dotfiles/bin/mailwatch "%i"
Type=forking
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
