[Unit]
Description=Mako notification daemon
Documentation=man:mako(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako --background-color #000000EE --border-color #000000 --font Source Code Pro --padding 10 --max-icon-size 32 --default-timeout 5000

[Install]
WantedBy=sway-session.target
