[Unit]
Description=Mailbox synchronization timer
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=0s
OnUnitActiveSec=1m
Unit=mbsync.service

[Install]
WantedBy=timers.target
