[Unit]
Description=Setup monitors
After=monitors.service
Wants=monitors.service

[Service]
ExecStart=enact -p top --watch

[Install]
WantedBy=wm.target
