[Unit]
Description=Setup monitors
After=monitors.service
Requires=monitors.service

[Service]
ExecStart=/home/greg/Workspace/linux-utils/screens/target/release/enact -p top --watch

[Install]
WantedBy=wm.target

