[Unit]
Description=Setup monitors
After=xorg.service
Requires=xorg.service

[Service]
ExecStart=/home/greg/Workspace/linux-utils/screens/target/release/enact -p top
Type=oneshot

[Install]
WantedBy=wm.target

