# https://chrome.google.com/webstore/detail/play-with-mpv/hahklcmnfgffdlchjigehabfbiigleji

[Unit]
Description=mpv server to launch player from web browsers
After=graphical.target   

[Service]
Type=simple
ExecStart=/home/greg/.local/bin/play-with-mpv

[Install]
WantedBy=graphical.target
