[Unit]
Description=Polybar
After=window-manager.service

[Service]
ExecStartPre=sleep 0.5
ExecStart=polybar primary
RestartSec=1
Restart=always

[Install]
WantedBy=wm.target
