[Unit]
Description=Blue light filter
After=xorg.service
Wants=window-manager.service

[Service]
ExecStart=redshift -c %h/.config/redshift.conf
Restart=always

[Install]
WantedBy=wm.target
