[Unit]
Description=Blue light filter
After=i3.service
Requires=i3.service

[Service]
ExecStart=redshift -c %h/.config/redshift.conf

[Install]
WantedBy=wm.target
