[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=xorg.service

[Service]
ExecStart=sxhkd -c %h/.dotfiles/bspwm/sxhkdrc
ExecReload=kill -SIGUSR1 $MAINPID

[Install]
WantedBy=wm.target
