[Unit]
Description=Set wallpapers
After=monitors.service
Requires=monitors.service

[Service]
ExecStart=/home/greg/.dotfiles/bin/wallpaper

[Install]
WantedBy=wm.target
