[Unit]
Description=Set wallpapers
After=monitors.service
Requires=monitors.service

[Service]
ExecStartPre=xsetroot -cursor_name left_ptr
ExecStart=feh --no-fehbg --bg-scale %h/.config/wallpaper %h/.config/wallpaper

[Install]
WantedBy=wm.target
