[Unit]
Description=Window Manager
After=monitors.service
Requires=monitors.service

[Service]
ExecStart=i3
Restart=always
ExecStopPost=loginctl terminate-user greg

[Install]
WantedBy=wm.target
