[Unit]
Description=Window Manager
After=xorg.service
Wants=xorg.service

[Service]
ExecStart=i3
ExecStopPost=loginctl terminate-user greg

[Install]
WantedBy=wm.target
