[Unit]
Description=Window Manager
After=xorg.service
Requires=xorg.service

[Service]
ExecStartPre=sh -c 'cat %h/.dotfiles/i3/config.night %h/.dotfiles/i3/config.base > /tmp/i3config'
ExecStart=i3 -c /tmp/i3config
ExecStopPost=loginctl terminate-user greg
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
