[Unit]
Description=Window manager target
Wants=xorg.target
After=xorg.service
After=dbus.socket
BindsTo=default.target
#AllowIsolate=true

#[Install]
#Alias=default.target
