[Unit]
Description=Xorg server at display

[Service]
SuccessExitStatus=0 1
ExecStart=Xorg :0 -nolisten tcp -noreset -auth /tmp/.xauthority -verbose 2 vt1
#ExecStartPost=bash /home/greg/.dotfiles/bin/xorg-wait
