[Unit]
Description=xsettingsd
After=xorg.service
Wants=xorg.service

[Service]
ExecStart=xsettingsd
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=wm.target
