[Unit]
Description=xsettingsd
After=window-manager.service
Requires=window-manager.service

[Service]
ExecStart=xsettingsd
ExecReload=kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=wm.target
