[Desktop Entry]
Type=Application
Name=Email
Comment=Launches the mutt email client
GenericName=Email
Icon=emblem-mail
Exec=neomutt
Terminal=true
Categories=Network;
